<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="fourkground" tabIcon="background"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="background" tabIcon="background"></ion-tab>
</ion-tabs>
